.bord
{
  border-radius:10px;
  border-width: medium;
  border-style: solid;
  color:white;
}

.sub_elem
{
  margin-left: 5%;
}

.bord_content
{
  background-color: rgba(120, 120, 120, 0.5);
  width:85%;
}
